body {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    background-color: rgb(249, 218, 252);
    font-family: 'Poppins', sans-serif;
    
}
.containerLevelZero{
    /* This a container that contains whole things */
    min-height: 100vh;
    margin: 0;
    padding: 1rem 0 0 0;
}

.containerLevelOne {
    /* The Main app container */
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.appSpace {
    /* This is the space for the whole workspace */
    background-color: rgb(130, 101, 133);
    max-width: fit-content; 
    width: fit-content;
    min-width: 30vw;
    height: fit-content;
    padding: 1rem;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 8px 8px 200px 1px rgb(130, 101, 133);
    
}
.appSpace form {
    overflow: hidden;
    min-height: 30vh;
    
}

.appSpace form input {
    /* Styling for Input */
    max-width: fit-content;
    background-color: rgb(130, 101, 133);
    border: 0;
    border-left: 2px  solid black;
    padding: .5rem;
    color: rgb(249, 218, 252);
    font-family: 'Poppins', sans-serif;
   
}
.appSpace form input::placeholder {
    color: rgb(249, 218, 252);
}

.appSpace form #Grade {
    /* Styling for the Grade */
    max-width: 5rem;
    background-color: rgb(130, 101, 133);
    border: 0;
    border-left: 2px  solid black;
    padding: .5rem;
    color: rgb(249, 218, 252);
    font-family: 'Poppins', sans-serif;
    margin: 0;
}



input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.courseContainer {
    display: flex;
    border: 2px solid;
    margin-block: .5rem;
    border-radius: 20px;
    padding-inline: .5rem;
    overflow: hidden;
    align-items: center;
}

#calculateBtn {
    max-width: unset;
    border:  0;
    border-radius: 15px;
    color: rgb(40, 5, 44);
    background-color: rgb(249, 218, 252);
    font-size: 1rem;
    font-weight: 600;
    margin-block: 1rem;
}

#calculateBtn:hover {
    box-shadow: 8px 2px  11px 1px rgb(40, 5, 44);
    cursor: pointer;
}

.addSubjectIcon {
    /* The icon container */
    display: block;
    float: right;
    margin-right: 10px;
    
}

#addSubjectIcon {
    /* The icon it self */ 
    cursor: pointer;
    border: 2px solid rgba(0, 0, 0, 0.562);
    padding: 2px;
    border-radius: 100%;
}

#Calulated {
    display: none;
}

.GPAdisplay {
    display: flex;
    height: 40px;
    align-items: center;
}

#yourGrade, #TotalCredit, #TotalPoint {
    width: 80px;
    margin-inline: 1rem;
    background-color: rgb(130, 101, 133);
    border: 0;
    color: rgb(9, 0, 10);
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    
}

.footer {
    /* this a footer container inside the .containerlevelZero */
    height: 10vh;
    text-align: center;
}
.footer span a {
    color: rgb(130, 101, 133);
}
.footer span a:hover {
    color: rgb(40, 5, 44);
}



@media (min-height: 50em) {
    .appSpace form {
        min-height: unset;
    }
}

@media (max-width: 500px) {
    #calculateBtn {
        font-size: .8rem;
    }
    .appSpace form input {
        width: 80px;
    }
    .appSpace form input::placeholder {
        max-width: 100px;
        font-size: .7rem;
    }

}

@media (max-width: 400px) {
    .appSpace {
        transform: scale(.8);
    }
    #TotalPoint {
        margin-inline: .7rem;
    }
}

